html{ margin-top: -2px;}
#principal{
    background-color: rgb(243, 226, 226);
  
}
.linha1{
    height: 35px;
    
}


.txtAutoAten{
    text-align: center;
    background-color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.telaHome{
    background-color: rgb(166, 166, 175);
    min-height:450px;
}
#voltar{
  
    margin-top: 30px;
}
.lista{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background-color: rgb(68, 57, 57);
}
.botao{
  
  height: 50px;
    border: solid black 3px;
    border-radius: 10%;
  background-image: linear-gradient(to bottom right, rgb(35, 30, 49) 25%, rgb(75, 3, 3));
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
 }
 .botao:hover{
    background-image: linear-gradient(to bottom right,  rgba(180, 4, 4),rgba(21, 1, 78 ));
 }
 

 

.navProd{
    background-color: red;
    height: 30px;
}